body{
    background-image: url(./me.jpg);
}

#heading{
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
    border-color: black;
    border-width: 0cap;
    border-style: solid;
    text-align: center;
 }

p{
    color: rgb(6, 232, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.names{
    color: black;
 }

.pics{
    border-width: 5px; 
  border-style: solid; 
  border-color: black;
 }

.underline{
  text-decoration: underline; 
  text-decoration-color: red; 
  text-decoration-style: wavy; 
 }
